# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
*.ipynb_meta

# Logs
*.log
